/*MENSAGENS NOVA*/

.mensagemhtml {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    padding: 10px;

    #fotoPerfil3 {
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }

    #balaoMensagem {
        margin-left: 30px;
        border-radius: 0px 16px 16px 16px;
        background-color: rgba(79, 224, 11, 0.3);
        padding: 10px;

        display: flex;
        flex-direction: column;

        #nomeMensagem {
            font-size: 15px;
            color: brown;
            margin-bottom: 10px;
        }

        #mensagemTexto {
            font-size: 20px;
        }
    }

}

#mensagemOutro {
    display: flex;
    flex-direction: row-reverse;

    #balaoMensagem {
        border-radius: 16px 0px 16px 16px;
        margin-right: 30px;
        background-color: rgba(11, 68, 224, 0.3);

        #nomeMensagem{
            color: cornflowerblue;
        }
    }
}