* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Padrão do documento */
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;  
}
#fotoPerfil1,
#fotoPerfil2{
    border-radius: 50px; 
}

/* Deixando o main no centro */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

    background-position: center;
    background-size: cover;
}

main {
    width: 1200px;
    height: 95vh;
    position: relative;
    display: none;
    background-color: #ffffff;

    img {
        width: 50px;
    }
}

/* AREA OPÇÕES **********************************/
#opcoes {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 100px;
    height: 100%;
    align-items: center;
    background-color: #FAFAFA;
    border-right: 3px solid #EEEEEE;

    .inicial{
        img{
            margin: 5px 0;
        }
    } 
    .opcoes{
        margin-top: 100px;

        img{
            margin: 5px 0;
        }
    }
}

/* AREA DO PERFIL ********************************/
#perfil {
    width: 100%;
    height: 80px;
    border-bottom: 3px solid #EEEEEE;
    // background-color: aquamarine;

    .fotoNome{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img{
            margin: 0 15px;
        }
    }
}

#mensagens{
    width: 100%;
    height: 75vh ;
    background: #FAFAFA;

    overflow-y: scroll;
    scroll-behavior: smooth;

}

.input_mensagem{
    border-top: 3px solid #EEEEEE;
    background-color: #ffffff;
    z-index: 1000;
    height: 69px;
    
    /*Para deixar no fundo do main*/
    bottom: 0;
    position: absolute;
    width: 91.7%;
    width: calc(100% - 135px);


    .rowInput{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 20px;
        width: 100%;

        #mensagemInput{
            width: 85%;
            height: 20px;
            padding: 7px;
            border: 1px solid black;
            background: #FAFAFA;
            border-radius: 12px;
        }
        button{
            margin-left: 20px;
            padding: 5px;
            border: 1px solid black;
            border-radius: 10px;
        }
    }
}

/*MENSAGENS NOVA*/

#mensagemhtml{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    padding: 10px;
    // background-color: aqua;

    #fotoPerfil3{
        width: 30px;
        height: 30px;
        border-radius: 50px; 
    }

    #balaoMensagem{
        margin-left: 30px;
        border-radius: 0px 16px 16px 16px;
        background-color: aquamarine;
        padding: 10px;

        #mensagemTexto{
            font-size: 20px;
        }
    }
    
}


/*RESPONSIVIDADE*/
@media (max-width: 1300px) {
    body {
        align-items: normal;

    }

    main{
        height: 100%;
    }
}

@media (max-width: 500px) {
    #opcoes{
        display: none;
    }

    .input_mensagem{
        width: 90%;
    }
}