<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/chat.png" type="image/x-icon">
    <title>Chat</title>

    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/scss/style.css">
</head>

<body>
    <main id="main">
        <aside id="opcoes" class="column">
            <div>
                <div class="inicial column">
                    <img src="/public/img/logo.png" width="50px" alt="Logo">
                    <img src="/public/img/perfil.png" alt="Foto de Perfil" id="fotoPerfil1">
                </div>
                <div class="opcoes column">
                    <a href="#"><img src="/public/img/global.png" alt="Global"></a>
                    <a href="#"><img src="/public/img/chat.png" alt="Chat"></a>
                    <a href="#"><img src="/public/img/camera.png" alt="Video"></a>
                    <a href="#"><img src="/public/img/musica.png" alt="Musica"></a>
                    <a href="#"><img src="/public/img/radio.png" alt="Radio"></a>
                </div>
            </div>
            <div class="sair column">
                <a href="#"><img src="/public/img/config.png" alt="Configurações"></a>
                <a href=""><img src="/public/img/sair.png" alt="Sair"></a>
            </div>
        </aside>
        <div class="column">
            <div id="perfil">
                <div class="row">
                    <div class="fotoNome">
                        <img src="/public/img/perfil.png" alt="Foto de Perfil" id="fotoPerfil2"><br>
                        <center>
                            <p id="nome">Kauã Moreno</p>
                        </center>

                    </div>
                    <div class="video_info">
                        <a href="#"><img src="/public/img/camera.png" alt="Video"></a>
                        <a href="#"><img src="/public/img/info.png" alt="Info"></a>
                    </div>
                </div>
            </div>

            <div id="mensagens">
                <p></p>
            </div>

            <div class="input_mensagem">
                <div class="rowInput">
                    
                    <!-- SELETOR DE ARQUIVOS -->
                    <input type="file" id="arquivo" name="arquivo" style="display: none;">
                    <label for="arquivo" style="cursor: pointer;">
                        <img src="/public/img/clipe.png" alt="Clipe">
                    </label>

                    <input type="text" placeholder="Digite sua mensagem..." id="mensagemInput">
                    <button id="enviar">Enviar</button>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/public/js/script.js"></script>
    <script src="/public/js/credenciais.js"></script>
</body>

</html>