body{
    background-color: aquamarine;
}
#outro {
    text-align: left;
    background-color: deepskyblue;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%;
}

#usuario {
    text-align: right;
    background-color: cornflowerblue;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%;
}

li {
    list-style-type: none;
}